<% include estate_header %>
<div class="div-adv">
    <% include estate_menu %>
    <% include estate_adv %>
    <% include navigate %>
    <div class="div-content">
    	
    </div>
    <br/><br/>
</div>
<style type="text/css">
	body{
		background: #EDEFEC;
	}
</style>
<% include estate_footer %>
