<div class="advframe">    
    <ul class="ul_adv">
        <li>
            <img src="/images/o1.png" alt="">
            <h1>真是可信 100%真房源</h1>
            <h2>瑞鹏承诺，假一赔百</h2>
        </li>
        <li>
            <img src="/images/o2.png" alt="">
            <h1>独家房源 覆盖全城</h1>
            <h2>房源信息最权威覆盖最广</h2>
        </li>
        <li>
            <img src="/images/o3.png" alt="">
            <h1>百名置业顾问 专业服务</h1>
            <h2>百万家庭的信赖之选</h2>
        </li>
        <li>
            <img src="/images/o4.png" alt="">
            <h1>安心承诺 保驾护航</h1>
            <h2>亿万保障佩服，助你购买安心房</h2>
        </li>
    </ul>
</div>