<%
	var CONSTANT1,parms,CONSTANT2,CONSTANT3;
	CONSTANT1 = "公司介绍,理念远景,服务介绍".split(",");
	CONSTANT2 = ",,,,".split(",");
	CONSTANT3 = "/estate_company?p=1,/estate_company?p=2,/estate_company?p=3,/estate_company?p=4,/estate_company?p=5".split(",");

	parms = url.split("?p=");

	if(url=="/estate_company?p=1"){
		CONSTANT2[0] = "active";
	}else if(url=="/estate_company?p=2"){
		CONSTANT2[1] = "active";
	}else if(url=="/estate_company?p=3"){
		CONSTANT2[2] = "active";
	}else if(url=="/estate_company?p=4"){
		CONSTANT2[3] = "active";
	}else if(url=="/estate_company?p=5"){
		CONSTANT2[4] = "active";
	}
%>
	<% include estate_header %>
		<div class="div-adv">
			<% include estate_menu %>
				<% include estate_adv %>
					<% include navigate %>
						<div class="div-content">
							<ul class="link">
								<%for(var i in CONSTANT1){%>
									<li class="<%=CONSTANT2[i]%>">
										<a href="<%=CONSTANT3[i]%>">
											<%=CONSTANT1[i]%>
										</a>
									</li>
									<%}%>
							</ul>
							<div class="clear"></div>
							<hr/>
							<div class="content_info">
    		<%if(parms[1]=="1"){%>
				<p>上海瑞鹏创立于2010年，主营高端国际社区，目前直营分支机构有30家，旗下经纪人达数百名。</p>
				<h1>业务范围</h1>
<p>瑞鹏地产的业务范围涉及房屋全程代理、房屋租赁、房屋买卖、按揭贷款、房地产投资咨询、商铺租售、写字楼租售及商品房代理等多个方面。                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
        瑞鹏地产人始终坚持以客户需求为指导思想，以建立卓越的客户关系为工作战略目标，努力为广大客户提供安全交易和个性化服务。</p>
<h1>主要业务</h1>
<p>瑞鹏地产是以地产中介业务为核心全国发展的房地产综合服务体，体系内囊括地产，金融和商业三个部分，业务范围涉及房屋代理、房屋出售、房屋租赁、豪宅租售，按揭贷款、房地产投资咨询、商铺租售、写字楼租售及商品房销售代理等。
</p><h1>公司展望</h1>
<p>在未来的五年里，瑞鹏同全上海的有志于从事地产服务的精英们一起，打造一个涵盖全上海年销售额超过五十亿元的地产服务平台。最终的目标是成为一家受人尊重的提供房屋经纪服务的上市公司，成为全上海房地产服务行业的佼佼者。</p>
	    	</p>
	    	<%}%>
	    	<%if(parms[1]=="2"){%>
				<h1>完全透明交易</h1>
<p>为了使中介市场健康、有序、规范的发展，让广大消费者权益得到最大限度的保障，瑞鹏地产在交易中明示收费标准，让买卖双方做到明明白白消费，并且瑞鹏地产在为二手房买卖双方提供服务时，坚持买卖双方见面，拒绝“欺上瞒下”行为，签署三方居间服务合同，从不赚取差价，我们所收取的费用仅仅是居间服务费，即按国家中介行业标准规定的按成交价的一定比例收取的佣金，给交易双方一个公开、公正、透明、规范的操作环境。
</p><h1>直营连锁门店</h1>
<p>瑞鹏地产服务模式采取直营连锁门店形式，各连锁门店按照瑞鹏地产统一设计，包括基本要素（企业名称、企业标志、标准字、标准色、企业造型等）和应用要素（产品造型、办公用品、服装、招牌等），通过具体符号的视觉传达设计理念，留下对企业的视觉影响。企业形象是企业自身的一项重要无形资产，它代表着企业的信誉、产品质量、人员素质等。瑞鹏地产各直营连锁门店全面实施网络化管理，采取基于三层结构的分布式服务模式，使各门店资源共享，最大限度满足客户各种个性需求。
</p><h1>高素质人才服务</h1>
<p>瑞鹏地产经过多年的经营和探索培养一批高素质销售人才，全部具有大专以上学历。对于招聘的无经验的经纪人，瑞鹏地产置业顾问制定培训计划对其进行进阶式专业培训，使其具备租、售、换、贷、投全过程知识，使其达到置业顾问水平，为消费者提供专业化服务指导。
	    	</p>
	    	<%}%>
	    	<%if(parms[1]=="3"){%>
				<p>真服务是瑞鹏在行业内首家推出的一系列以真实、透明为基准的服务的统称，包含100%真房源、投诉单单公示、签约风险告知、嫌恶设施披露四项服务。瑞鹏通过真服务将隐藏在背后的，客户不容易获取的信息进行披露，让买卖双方在信息对称、信息透明的情况下，自由选择进行交易，这也是瑞鹏倡导的行业准则。
</p><h1>签约风险告知</h1>
<p>瑞鹏地产郑重承诺：签约前，采用制式化的视频讲解方式，将合同内可能引发纠纷的风险点如实告知，公平公正的维护交易双方权益。</p>
<p>服务标准：</p>
<p>1、瑞鹏地产所有买卖居间业务均使用以上承诺；</p>
<p>2、签约前由经纪人播放统一的《签约提示视频》，对合同内可能引发纠纷的事项和风险点进行如实告知，并通过《房地产经纪服务事项告知书》书面确认，严格履行《房地产经纪管理办法》第二十一条规定的告知义务，维护交易双方合法权益。
</p><h1>100%真房源</h1>
<p>瑞鹏地产郑重承诺：瑞鹏地产在职经纪人在所有渠道发布的买卖及租赁房源信息，均符合真实存在、真实委托、真实价格；通过公司热线举报虚假房源，可获100元现金赔付。</p>
<p>服务标准：</p>
<p>1、全渠道范围：店面门头贴、人字板、一张房源纸、派报、瑞鹏在线等8大网络找房平台</p>
<p>2、真房源定义</p>
<p>真实存在：房源真实存在,不是虚构或虚拟房源；</p>
<p>真实委托：房源均经业主委托(书面方式或口头方式)；</p>
<p>真实价格：瑞鹏地产以房屋业主委托报价作为房源信息发布价格的基准；经纪人就同一套房屋发布的价格,上下浮动不得超过业主委托报价的±5%（此报价不含税费及中介费用）；</p>
<p>3、奖励办法：如客户发现不符合本活动真房源定义的虚假房源信息,可以拨打公司热线进行举报。经核实后,情况属实的,同一房源的首位举报者可获得100元的现金奖励！</p>
<h1>真实成交价格公示</h1>
<p>服务标准：如实公示经瑞鹏达成的买卖房屋交易标的和交易实价，客户可通过瑞鹏在线查询到房屋成交总价、单价、面积、户型、交易时间等信息，让客户获得更具真实性和参考价值的市场行情。</p>
<p>嫌恶设施披露</p>
<p>瑞鹏地产郑重承诺：瑞鹏在线所有房源均提前进行嫌恶设施筛查，如实披露房屋周边六类可能影响居住品质的嫌恶信息，让客户在信息透明的情况下自主选择交易。</p>
<p>服务标准：</p>
<p>1、瑞鹏在线所有买卖和租赁房源均适用以上承诺。</p>
<p>2、六类嫌恶设施包括：飞机场、加油站、高压电站、垃圾处理场、工厂、墓地/殡仪馆。由瑞鹏依据“中华人民共和国环境保护部”网站相关内容，结合历史交易数据和客户反馈，进行影响评估确定。</p>
<p>3、披露内容：房屋所在楼幢1000米半径范围内是否存在六类嫌恶设施、存在嫌恶设施的种类、该设施与房屋所在楼幢的大致距离、该设施产生的影响是否在国家规定的安全范围内。</p>
<h1>投诉单单公示</h1>
<p>瑞鹏地产郑重承诺：所有投诉24小时给内出处理意见，投诉与受理信息、内部投诉月报均通过瑞鹏在线进行公示，接受公示监督。</p>
<p>服务标准</p>
<p>1、客户通过公司热线或微博（@瑞鹏在线@瑞鹏客服）等渠道发起，并被北京瑞鹏客服中心受理的投诉均适用以上承诺。</p>
<p>2、对于客户投诉，瑞鹏地产将自接到投诉并与客户取得电话联系或当面沟通之时起24小时内给出处理意见；</p>
<p>3、公示内容：投诉事由、核实与反馈、受理结果及客户评价、瑞鹏地产投诉月报；</p>
<p>4、查询：投诉人通过瑞鹏在线，并通过投诉编号、电话号码或投诉日期随时查询投诉处理进度。</p>
	    	<%}%>
    	</div>
						</div>
						<% include estate_advbottom %>
							<div class="clear"></div>
		</div>
		<style type="text/css">
			body {
				background: #EDEFEC;
			}
		</style>
		<% include estate_footer %>