<div class="advframe">    
    <ul class="ul_adv">
        <li>
            <img src="/images/f1.png" alt="">
            <h1>理财认购 专业平台</h1>
        </li>
        <li>
            <img src="/images/f2.png" alt="">
            <h1>产品丰富 货比三家</h1>
        </li>
        <li>
            <img src="/images/f3.png" alt="">
            <h1>专业实时 安全优惠</h1>
        </li>
        <li>
            <img src="/images/f4.png" alt="">
            <h1>红杉投资 实力推荐</h1>
        </li>
    </ul>
</div>