<% include financing_header %>
	<% include financing_menu %>
		<% include financing_adv %>
			<% include navigate %>
				<div class="introdece_content">
					<div class="introdece_question">瑞鹏财富是做什么的？</div>
					<div class="introdece_answer">
						<p>瑞鹏财富是瑞鹏房产的全资子公司，是一家专业的第三方投资顾问公司。 瑞鹏财富成立于2010年，经过多年的沉淀，已建立起在线互动平台、完善的私募数据中心以及专业的投资顾问团队。 我们忠实于客户，为客户早日实现财务自由！</p>
					</div>
					<hr>

					<div class="introdece_question">什么是阳光私募基金？</div>
					<div class="introdece_answer">
						<p>阳光私募基金是信托公司发行、资深资产管理人管理、投向证券市场的浮动收益类高端理财产品。</p>
						<p>阳光私募基金通常是指由投资顾问公司作为发起人、投资者作为委托人、信托公司作为受托人、银行作为资金托管人、证券公司作为证券托管人，依据《信托法》发行设立的证券投资类信托集合理财产品。</p>
					</div>
					<hr>

					<div class="introdece_question">阳光私募基金的优势有哪些？</div>
					<div class="introdece_answer">
						<p>（1）业绩优异：阳光私募基金长期投资业绩完胜大盘、公募基金及其他股票型理财产品。</p>
						<p>（2）追求绝对回报：私募基金管理人利益和投资者利益是一致的，私募基金固定管理费很少，主要依靠提取20%的业绩报酬生存发展，而超额业绩费是在净值每次创出新高后才可提取的。只有投资者赚到钱，私募才能赚到钱。所以私募基金需要追求绝对的正收益，对下行风险的控制相对严格。</p>
						<p>（3）操作灵活：仓位可在0%-100%间灵活调整，牛市可满仓获取全部收益，熊市可空仓规避系统风险，投资策略众多。</p>
						<p>（4）精英管理：阳光私募基金的资产管理人，大多经历了中国股市20多年牛熊转换的实战考验，他们有的曾经是公募基金的明星基金经理，有的曾在券商中担任自营部投资经理或资深行业研究员，有的曾被任命为管理关系民生的保险资金、社保组合及企业年金，而有的源于民间股神的华丽转身。</p>
					</div>
					<hr>

					<div class="introdece_question">阳光私募基金的结构</div>
					<div class="introdece_answer">
						<p>目前市场上大部分的阳光私募基金其实是信托产品，即通过信托公司发行的产品，通过信托合同规定各方的权利与义务。阳光私募基金共有四方参与：阳光私募基金公司、信托公司、证券公司和银行，其中阳光私募基金公司负责证券市场投资；信托公司是产品发行的法律主体，提供产品运作的平台，并承担部分监管职责；银行作为资金托管人，保障投资者资金安全；证券公司作为证券托管方，保障证券的安全性。另外，除了通过信托平台发行，还有通过有限合伙企业、券商资管通道、公募基金一对一专户发行的阳光私募基金。</p>
					</div>
					<hr>

					<div class="introdece_question">阳光私募基金的投资门槛</div>
					<div class="introdece_answer">
						<p> 阳光私募基金的最低认购金额通常为100万元，也有部分基金的投资门槛为300万-2000万元不等。</p>
					</div>
					<hr>

					<div class="introdece_question">阳光私募基金的合法、合规性</div>
					<div class="introdece_answer">
						<p>通过信托平台发行的阳光私募基金运作较为正规，信托公司负责监管资金的流向与用途，阳光私募基金的每个操作均须遵守信托合同的规定。基金管理人只负责证券投资组合的管理，资金由银行托管，基金净值由信托公司、商业银行、证券公司（期货公司）三方核对无误后核算，保证资金的安全性和净值的准确性。信托制阳光私募基金受银监会的监管，不存在资金非法挪用的可能，投资者可以放心投资。同时，2013年6月1日，阳光私募基金被纳入基金法，正式承认私募基金的法律地位。</p>
					</div>
					<hr>
				</div>
				<% include financing_define %>
					<% include financing_advbottom %>
						<% include financing_footer %>