<!DOCTYPE html>
<html lang="en">
  <head>
    <title>瑞鹏地产</title>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="/stylesheets/basic.css">

    <script src="/js/jquery.min.js"></script>
    <link href="/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/basic.js"></script>
    <script src="/js/cookiesoperator.js"></script>
    <script type="text/javascript" src="/plugin/My97DatePicker/WdatePicker.js"></script>

  </head>

  <body>
    <%- body %>
    <% include login %>
    <!-- JavaScript 放置在文档最后面可以使页面加载速度更快 -->
    
    <!-- 可选: 合并了 Bootstrap JavaScript 插件 -->
  </body>
</html>
