<div class="div-adv">
    <div id="menu">
      <div class="center">
          <nav class="link">
              <ul>
                  <li><a href="/">瑞鹏首页</a></li>
                  <li><a href="/estate_home">房屋租赁</a></li>
                  <li><a href="/financing_home">财富中心</a></li>
              </ul>
          </nav>
      </div>
    </div>
    <br/><br/><br/>
</div>