<!--页面逻辑-->
<% include header %>
<div style="margin-top:100px;width:100%">  
	<div style="width:100%;text-align:center;"><img src="/images/logo.png" style="height:40px;"></div>
    <div class="well" style="width:450px;margin:0px auto;margin-top:20px">
        <p class="home_p">您好：<%=user%>，欢迎使用后台管理系统</p>
		<p class="home_p">您的身份为：<%=role%></p>
    </div>
  </div>
<% include footer %>